Logs/**
Projects/**
AD15/Examples/**
AD15/Templates/**
AD15/Library/*
AD15/Library/Gabriel/PCB/History/*
AD15/Library/Gabriel/SCH/History/*

!AD15/Library/Gabriel
!AD15/Templates/Template.PcbDoc
!AD15/Templates/A4_Template.SchDot
!AD15/Templates/altium-designer-2020-05-12.png